/*** Home page - profile page ***/

/* Profile header */
.profile-type-is-community .action-profile-index #content .main-block h1 {
  color: #172738;
  border-bottom: none;
  font-size: 2.3em;
  font-weight: bold;
  font-variant: normal;
  font-family: Arial, open_sansbold, Helvetica, sans-serif;
}

/* Search form - need to develop solution - hidden on profile page*/
.profile-type-is-community .action-profile-index #public-profile-search{
  display: none;
}

.action-profile-index .main-block #public-profile-search, 
.action-profile-index .main-block #profile-search-results form, 
.action-profile-index .main-block .profile-search-block form {
  background-color: transparent;
}

.action-profile-index .main-block #public-profile-search .search-field .formfield {
  float: left;
  margin-right: 0.5em;
}

.action-profile-index .main-block #public-profile-search .search-field .formfield input {
  margin-top: 0px;
  margin-right: 0.5em;
  padding: 6px;
  height: 19px;
  max-height: 19px;
  border: 1px solid #D3D6DE;
  border-radius: 4px;
}

.action-profile-index .main-block #public-profile-search .formfield input, 
.action-profile-index .main-block #public-profile-search .formfield textarea{
  width: 100%;
  background: none #FFFFFF;
  color: #585858;
  border: 1px solid #DDDDDD;
  font-size: 16px;
  word-wrap: break-word;
}

.action-profile-index .main-block #public-profile-search form input.button.submit {
  height: 32px;
  margin-top: 8px;
  padding: 5px 15px;
  color: #ffffff;
  background: #2B51A8;
  border-radius: 4px;
  border: 1px solid #2B51A8;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

/* Profile tab */
.profile-type-is-community .action-profile-index .profile{
  display: none;
}

#block-community-tabs{
  font-family: Arial;
}

#block-community-tabs .ui-corner-all{
  overflow: visible;
}

#content #block-community-tabs .iu-widget{
  font-size: 0px ;
}

#block-community-tabs .ui-widget-header{
  background:#ECEDF1;
  border:none;
  border-bottom: 3px solid #D3D6DE;
}

#block-community-tabs .ui-widget-content{
  border:none;
  background:none;
}

#block-community-tabs .ui-corner-all{
  border-radius:0px;
}

#block-community-tabs .ui-state-default
#block-community-tabs .ui-widget-content .ui-state-default,
#block-community-tabs .ui-widget-header .ui-state-default{
  border:none;
  background:#ECEDF1;
  font-weight: normal;
  color:#172738;
}

#block-community-tabs .ui-tabs .ui-tabs-nav{
  font-size: 15px;
  padding:.2em .0em 0;
}

#block-community-tabs .ui-tabs .ui-tabs-nav .ui-tabs-anchor{
  float:none;
  display:table;
}

#block-community-tabs .ui-tabs .ui-tabs-panel{
  padding: 0px;
}

#block-community-tabs .ui-tabs .ui-tabs-nav li a:visited{
  color:#172738;
}

#block-community-tabs .ui-tabs .ui-tabs-nav li{
  padding-right: 3px;
}

#block-community-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active{
  margin-bottom: -3px !important;
  padding-bottom: 1px;
  border-bottom: 3px solid #FF0366; 
}

#block-community-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-active:before{
  content:"\f0dd";
  font-family: FontAwesome;
  font-size: 16px;
  position:absolute;
  top:26px;
  margin:0px 45%;
  color:#FF0366;
}
#block-community-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active a{
  color: #FF0366;
  font-weight: 700;
}

/* Community's area tabs */

#content #discussions-content{
  color:#172738;
}

#content #discussions-content .pull-left{
  float:none;
}

#content #discussions-content{
  font-family: Arial;
  font-size: 14px;
}

#content #discussions-content .message-discussion{
  border-bottom: 1px solid #ECEDF1;
  margin:0px 0px 8px 0px;
  padding:10px 0px 18px 0px;
}

#content #discussions-content .message-discussion .quiet:last-child{
  font-size: 16px;
  max-height: 50px;
  overflow: hidden;
}

#content #discussions-content h4{
  font-size: 22px;
  border-bottom: 1px solid #ECEDF1;
  padding: 8px 0px 6px 0px;
}

#discussions-content hr{
  display: none;
}

#discussions-content .quiet{
  line-height: 21px;
}

#discussions-content div.quiet:last-child{
  border-top:none;
}

#discussions-content .text-right{
  padding:6px 0px 25px 0px;
}

#discussions-content .text-right a{
  text-align: right;
  display: block;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 11px;
}

#discussions-content .text-right a:visited,
#content #discussions-content .text-right a:visited,
#discussions-content .text-right dl.portlet a:visited{
  color: #172738;
}

#discussions-content .text-right a::after {
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 7px;
  padding-right: 4px;
  color: #ffffff;
  background: #3E67B1;
  border-radius: 4px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-left: 5px;
  position: relative;
  top: 2px;
}

#content #discussions-content .pull-left a{
  color:#3E67B1;
  font-weight: 600;
}

#content #discussions-content .subject{
  font-weight: 800;
  font-size: 16px
}

#repository-feed-tab .event-inline.event-item{
  border-bottom: 1px solid #ECEDF1;
  margin-top:30px;
  padding: 0px 0px 80px 0px;
}

#repository-feed-tab .event-inline.event-item img{
  display: none;
}

#repository-feed-tab .event-item-timestamp{
  border-right: 1px dotted #D3D6DE;
  float:left;
  width: 112px;
  height: 55px;
  margin-right: 20px;
}
#repository-feed-tab .event-item-timestamp .time_ago{
  color:#172738;
}

#repository-feed-tab .event-item-timestamp .time_ago:before{
  content: url("../images/ic-calendar.png");
  margin-right: 10px;
  margin-top: 0px;
  float: left;
}

#repository-feed-tab .event-title{
  max-height: 55px;
  overflow: hidden;
  float:left;
  width: 70%;
  font-size: 16px;
}

#content #repository-feed-tab .author_name{
  display: block;
  padding-bottom: 5px;
  font-size: 12px;
}

#content #repository-feed-tab .author_name a{
  color:#3E67B1;
}

#repository-feed-tab .see-more-repository{
  text-align: right;
  display: block;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 11px;
  margin-top: 15px;
}

#repository-feed-tab .see-more-repository:after{
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 7px;
  padding-right: 4px;
  color: #ffffff;
  background: #3E67B1;
  border-radius: 4px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-left: 5px;
  position: relative;
  top: 2px;
}


#repository-feed-tab .see-more-repository a:visited,
#content #repository-feed-tab .see-more-repository a:visited,
#repository-feed-tab .see-more-repository dl.portlet a:visited{
  color:#172738;
}

/* Blog tab*/

#content #blog-tab .blog-posts{
  margin-top:20px;
}

#content #blog-tab .blog .blog-post{
  background:none;
  border-bottom: 1px solid #ECEDF1;
  padding:30px 0px 0px 0px;
}

#content #blog-tab .blog .blog-post h1{
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  max-width: 555px;
  max-height: 40px;
  border: none;
  font: normal normal bold 16px/20px arial;
  overflow: hidden;
  display: inline-block;
}

#content #blog-tab .blog .blog-post .post-pic{
  margin:0 20px 5px 0px;
  border-radius: 4px;
  height: 60px;
  width: 20%;
  background: center/cover no-repeat;
  float: left;
}
#content #blog-tab .blog .blog-post .publishing-info {
  border-top: none;
  color: #172838;
  font: 13px/21px arial;
}

#content #blog-tab .blog .publishing-info{
  display:inline;
  text-align: left;
}
#content #blog-tab .blog .blog-post .publishing-info .date {
  margin: 0px 0px 5px 0px;
  display: table-cell;
}
#content #blog-tab .blog .blog-post .author {
  display: none;
}

#content #blog-tab .blog .blog-post .comments{
  display: none;
}

#content #blog-tab .blog .blog-post .short-post {
  max-height: 35px;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
}

#content #blog-tab .blog .article-body p {
  margin: 0px 0px 5px 0px;
  max-height: 25px;
  color: #172738;
  text-align: left;
  text-overflow: ellipsis;
  font: 14px/21px arial;
  overflow: hidden;
}

/*Post Position-1*/
#content #blog-tab .blog .blog-post.position-1 h1{
  line-height: 37px;
  font-size: 34px;
  color: #172738;
  padding-left:0px;
  text-align: left;
}
#content #blog-tab .blog .blog-post.position-1 .date{
  padding-left:0px;
}

#content #blog-tab .blog .blog-post.position-1 .post-pic {
margin: 0 20px 5px 0px;
border-radius: 4px;
height: 220px;
width: 100%;
background: center/cover no-repeat;
float: left;
}

/* Read more button*/
#content #blog-tab .blog .read-more{
  text-align: right;
  display: block;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 11px;
  margin:15px 0px 20px 0px;
}

#content #blog-tab .blog .read-more:after{
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 7px;
  padding-right: 4px;
  color: #ffffff;
  background: #3E67B1;
  border-radius: 4px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
#content #blog-tab .blog .read-more a{
  text-decoration: none;
}

/* Software Tab Data - Need to develop solution - Only display on profile page */

.profile-type-is-community #content .software-tab-data-block{
  display: none; 
}

.profile-type-is-community .action-profile-index #content .software-tab-data-block{
  display: block;
}

/*** Right bar ***/

.template-default.profile-type-is-community .action-profile-index #content .box-3 .link-list-block{
  display: none;
}

/********Bloco de informacao da comunidade********/
.profile-type-is-community .community-block{
  display: none;
}

.profile-type-is-community .action-profile-index #content .community-block{
  display: block;
  border: 1px solid #ECEDF1;
  border-radius: 4px;
}

.profile-type-is-community  #content .community-block-logo{
  border-bottom: 3px solid #3E67B1;
}

.profile-type-is-community  #content .community-block-title{
  padding: 10px;
  background-color: #ECEDF1;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.profile-type-is-community  #content .community-block-title h1{
  margin: 5px auto;
  font-size: 14px;
  line-height: 20px;
}

.profile-type-is-community  #content .community-block-logo{
  padding: 10px;
}

.profile-type-is-community  #content .community-block-logo img.logo{
  height: auto;
  width: 100px;
  min-width: 100px;
  max-width: 170px;
}

.profile-type-is-community  #content .community-block-logo a{
  display: block;
  height: 100px;
  overflow: hidden;
  text-align: center;
}

/* Members block */

.profile-type-is-community #content .members-block{
  display: none;
  border: 1px solid #D3D6DE;
  border-radius: 4px;
}

.profile-type-is-community .action-profile-index #content .members-block{
  display: block;
}

.profile-type-is-community #content .members-block .block-title{
  padding: 12px;
  margin-bottom: 12px;
  background-color: #ECEDF1;
  color: #172738;
  border-bottom: 1px solid #D3D6DE;
  border-top: none;
  font-size: 14px;
}

.profile-type-is-community #content .members-block .block-footer-content{
  padding: 8px 10px 15px 0px;
  margin-right: 0px; 
  background-color: #ECEDF1;
  border-top: 1px solid #D3D6DE;
  text-align: right;
}

.profile-type-is-community #content .members-block .block-footer-content a{
  padding-right: 0px !important;
}

.profile-type-is-community #content .members-block .block-footer-content a.view-all{
  background-image: none;
  border: none;
  text-transform: uppercase;
  line-height: 21px;
}

.profile-type-is-community #content .members-block .block-footer-content a.view-all::after{
  content: "\f105";
  position: relative;
  top: 2px;
  margin-left: 5px;
  padding-left: 7px;
  padding-right: 4px;
  color: #ffffff;
  background: #3E67B1;
  border-radius: 4px;
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.profile-type-is-community #content .members-block .common-profile-list-block .vcard{
  border: none;
}

.profile-type-is-community #content .members-block .common-profile-list-block .vcard:hover{
  background: none;
  border: none;
}

.profile-type-is-community #content  .members-block .common-profile-list-block .vcard li a{
  color: #172738;
}

.profile-type-is-community #content  .members-block .common-profile-list-block .vcard a.profile_link{
  height: 70px;
}

.profile-type-is-community #content .members-block .menu-submenu{
  background: #172738;
  border-radius: 4px;
  /***side block position***/
  top: -39px;
  right: 100%;
  width: 131px;
  height: 176px;
  box-shadow: 2px 2px 2px #ECEDF1;
  -webkit-box-shadow: 2px 2px 2px #ECEDF1;
  -moz-box-shadow: 2px 2px 2px #ECEDF1;
}

.profile-type-is-community #content .members-block .menu-submenu.down::before{
  content:"\f0da";
  float: right;
  position: relative;
  margin: -7px;
  margin-top: 30%;
  color: #172738;
  font-family: FontAwesome;
  font-size: 25px;
}

.profile-type-is-community #content .members-block .menu-submenu-header,
.profile-type-is-community #content .members-block .menu-submenu-content,
.profile-type-is-community #content .members-block .menu-submenu-footer{
  background: none;
}

.profile-type-is-community #content .members-block .menu-submenu-header,
.profile-type-is-community #content .members-block .menu-submenu-footer{
  display: none;
}

.profile-type-is-community #content .members-block .menu-submenu-content{
  height: 100%;
}

.profile-type-is-community #content  .members-block .common-profile-list-block li{
  margin: 0px !important;
}

.profile-type-is-community #content .members-block .common-profile-list-block .vcard .menu-submenu-trigger{
  display: block;
  height: 13px;
  top: 2px;
  left: 3px;
  padding-bottom: 0px;
  background: #172738;
  border: 1px solid #fff;
  opacity: 0.7;
}

.profile-type-is-community #content .members-block .common-profile-list-block .vcard .menu-submenu-trigger::before{
  content: "\f053";
  color: #fff;
  font-family: FontAwesome;
  font-size: 8px; 
  line-height: 11px; 
}

.profile-type-is-community #content .members-block .common-profile-list-block .fn {
  margin-top: 2px;
  color: #172738;
}

.profile-type-is-community #content .members-block .menu-submenu-content h4{
  max-height: 16px;
  padding: 8px 7px 10px 6px;
  margin: 0px 0px 2px 0px;
  background: #243F59;
  color: #fff;
  border-bottom: 2px solid #FF0366;
  border-radius: 4px 4px 0px 0px;
  font-family: Arial;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}

.profile-type-is-community #content .friends-block ul, #content .members-block ul {
  min-width: 196px;
  width: 192px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.profile-type-is-community #content .members-block .menu-submenu-content .menu-submenu-list li a{
  padding: 2px;
  color: #fff;
  border-bottom: 1px dotted #2C4B6B;
  text-align: center;
  line-height: 30px;
}

.profile-type-is-community #content .members-block .menu-submenu-content .menu-submenu-list li a.add-friend{
  border: none;
}

.profile-type-is-community #content .members-block .menu-submenu-content .menu-submenu-list li a.add-friend::before{
  content: "\f067";
  padding-right: 6px;
  color: #FF0366;
  font-family: FontAwesome;
  font-size: 11px;
}

.profile-type-is-community #content  .members-block .menu-submenu-content h4:hover,
.profile-type-is-community #content  .members-block .menu-submenu-content .menu-submenu-list li a:hover{
  color: #ECEDF1;
}

.profile-type-is-community #content .members-block .common-profile-list-block img{
  width: 50px;
  height: 50px;
  max-height: 50px; 
  max-width: 50px;
  border-radius: 4px;
}

.profile-type-is-community #content .members-block .block-footer-content a.view-all{
  position:relative;
}

/* Profile info block */

#content .profile-image-block .admin-link a{
  color: #2c66ce;
}

#content .profile-image-block .profile-info-options{
  padding-right: 0;
  text-align: center;
}

#content .profile-image-block .profile-info-options a.button.with-text{
  border-color: #D3D6DE;
  font-size: 12px;
  text-transform: none;
}

#content .profile-image-block .profile-info-options a.button.with-text:hover{
  border-color: #3E67B1;
}

/*** Members Page ***/

/* Title of the area members */
.action-profile-members #content .page-members-header{
  margin-bottom: 45px;
  padding-bottom: 26px;
  border-bottom: 1px solid #D3D6DE;
  font-family: Arial;
}

.action-profile-members #content .page-members-header h1{
  margin:20px 0px 8px 0px;
}

.action-profile-members #content .page-members-header h3.community-name-members{
  margin: 0px 0px 5px 0px;
  font-size: 14px;
  font-weight: 600;
}

.action-profile-members #content .page-members-header a.button.with-text{
  padding: 5px 15px;
  border: 1px solid #D3D6DE;
  text-transform: none;
  font-size: 12px;
}

.action-profile-members #content .page-members-header a.button.with-text:hover{
  border-color: #3E67B1;
}

.action-profile-members  .page-members-header .join-leave-button.require-login-popup{
  margin-right: 4px;
  float: left;
}

/* Tabs */

.action-profile-members #content .profile-members-tabs-container{
  font-family: Arial;
}

.action-profile-members #content .profile-members-tabs-container .ui-corner-all{
  overflow: visible;
  padding: 0;
}

.action-profile-members #content .profile-members-tabs-container .iu-widget{
  font-size: 0px ;
}

.action-profile-members #content .profile-members-tabs-container .ui-widget-header{
  background: #ECEDF1;
  border: none;
  border-bottom: 3px solid #D3D6DE;
}

.action-profile-members #content .profile-members-tabs-container .ui-widget-content{
  background: none;
  border: none;
}

.action-profile-members #content .profile-members-tabs-container .ui-corner-all, 
.action-profile-members #content .profile-members-tabs-container .ui-corner-bl, 
.action-profile-members #content .profile-members-tabs-container .ui-corner-top, 
.action-profile-members #content .profile-members-tabs-container .ui-corner-right, 
.action-profile-members #content .profile-members-tabs-container .ui-corner-bottom, 
.action-profile-members #content .profile-members-tabs-container .ui-corner-left, 
.action-profile-members #content .profile-members-tabs-container .ui-corner-tr,
.action-profile-members #content .profile-members-tabs-container .ui-corner-tl{
  border-radius: 0px;
}

.action-profile-members #content  .profile-members-tabs-container .ui-state-default,
.action-profile-members #content  .profile-members-tabs-container .ui-widget-content .ui-state-default,
.action-profile-members #content  .profile-members-tabs-container .ui-widget-header .ui-state-default{
  border: none;
  background: #ECEDF1;
  font-weight: normal;
  color: #172738;
}

.action-profile-members #content .profile-members-tabs-container .ui-tabs .ui-tabs-nav {
  font-size: 15px;
}

.action-profile-members #content .profile-members-tabs-container .ui-tabs .ui-tabs-nav .ui-tabs-anchor{
  float: none;
  display: table;
}

.action-profile-members #content .profile-members-tabs-container .ui-tabs .ui-tabs-nav li{
  padding-right: 3px;
}

.action-profile-members #content .profile-members-tabs-container .ui-tabs .ui-tabs-nav li a:visited{
  color: #172738;
}

.action-profile-members #content .profile-members-tabs-container .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -3px;
  padding-bottom: 1px;
  border-bottom: 3px solid #FF0366; 
}

.action-profile-members #content .profile-members-tabs-container .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-active:before{
  content:"\f0dd";
  font-family: FontAwesome;
  font-size: 16px;
  position:absolute;
  top:26px;
  margin:0px 45%;
  color:#FF0366;
}

.action-profile-members #content .profile-members-tabs-container .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  color: #FF0366;
  font-weight: 700;
}

/* Sort selection */
.action-profile-members #profile-members-sort-options{
  font-size: 14px;
  text-align: right;
  margin:16px 15px 17px 6px;
  border-bottom: 1px solid #ECEDF1;
  padding-bottom:8px;
}

.action-profile-members #profile-members-sort-options label{
  font-weight: 700;
  color:#172738;
}

.action-profile-members #profile-members-sort-options select{
  background: none;
  border: 1px solid #D3D6DE;
  border-radius: 4px;
  padding: 4px 15px 4px 4px;
  margin: 0px 0px 0px 10px;
  font-size: 14px;
}

/* Members Tab */
.action-profile-members .profile-members-tabs-container .profile-members{
  padding-left: 5px;
}

/* Admins Tab */
.action-profile-members .profile-members-tabs-container .profile-admins{
  padding-left: 5px;
}

/* Profiles list*/
.action-profile-members .common-profile-list-block .vcard{
  border: none;
}

.action-profile-members .common-profile-list-block .vcard:hover{
  border: none;
  background: none;
}

.action-profile-members .common-profile-list-block .vcard a{
  padding-bottom: 30px;
}

.action-profile-members .box-1 .common-profile-list-block span{
  margin-right: 9px;
  width: 90px;
  height: 86px;
}

.action-profile-members .common-profile-list-block img{
  border-radius: 4px;
  width: 82px;
  height: 82px;
  max-width: 150px;
  max-height: 150px;
}

.action-profile-members .menu-submenu{
  background:#172738;
  border-radius: 4px;
  /***side block position***/
  bottom:0px;
  right: 105%;
  width: 131px;
  height: 178px;
  box-shadow: 2px 2px 2px #ECEDF1;
  -webkit-box-shadow: 2px 2px 2px #ECEDF1;
  -moz-box-shadow: 2px 2px 2px #ECEDF1;
}

.action-profile-members .menu-submenu.down::before {
  content:"\f0da";
  color:#172738;
  font-family: FontAwesome;
  font-size: 25px;
  float: right;
  position: relative;
  margin:-7px;
  margin-top: 30%;
}

.action-profile-members .menu-submenu-header,
.action-profile-members .menu-submenu-content,
.action-profile-members .menu-submenu-footer{
  background:none;
}

.action-profile-members .menu-submenu-header,
.action-profile-members .menu-submenu-footer{
  display: none;
}

.action-profile-members .menu-submenu-content{
  height: 100%;
}

.action-profile-members #content .menu-submenu-content h4{
  color:#fff;
  font-size: 13px;
  background:#243F59;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 2px solid #FF0366;
  text-transform: uppercase;
  padding:8px 7px 10px 6px;
  margin:0px 0px 2px 0px;
  text-align: center;
  max-height: 16px;
  overflow: hidden;
}

.action-profile-members #content .menu-submenu-content ul a{
  padding-left: 0px;
}

.action-profile-members #content .menu-submenu-content .menu-submenu-list .add-friend::before{
  content:"\f067";
  font-family: FontAwesome;
  color:#FF0366;
  font-size: 11px;
  padding-right: 6px;
}

.action-profile-members #content .menu-submenu-content .menu-submenu-list .add-friend:last-child{
  border-bottom:none;
}

.action-profile-members #content .menu-submenu-content .menu-submenu-list li a {
  color:#fff;
  font-family: Arial;
  font-size: 14px;
  border-bottom:1px dotted #2C4B6B;
  text-align: center;
  padding-top:8px;
  padding-bottom:10px;
  margin-right: 1px;
}

.action-profile-members .common-profile-list-block .vcard .menu-submenu-trigger{
  display: block;
  background:#172738;
  top:5px;
  left:4px;
  border:1px solid #172738;
  padding-bottom: 0px;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  height: 15px;
}

.action-profile-members .common-profile-list-block .vcard .menu-submenu-trigger::before{
  content:"\f053";
  color:#fff;
  font-family: FontAwesome;
  font-size: 10px;
  line-height: 11px;
}

.action-profile-members .box-1 .common-profile-list-block .fn{
  font-size: 14px;
  color:#172738;
  margin-bottom: 27px;
  margin-top:2px;
  height: 35px;
  max-height: 35px;
  overflow: hidden;
}

/*** Events ***/

#content .article-body-event .event-card{
  border-top: 1px dotted #D3D6D3;
  background-repeat: no-repeat;
  width: 494px;
  height: 116px;
  margin-bottom: 30px;
}

#content .article-body-event .event-image{
  border-right: 1px dotted #D3D6DE;
}

#content .article-body-event .about-event > span{
  font-family: Arial;
  line-height: 13px;
}

#content .article-body-event .about-event .event-date{
  font-weight: bold;
  letter-spacing: 0.49px;
}

#content .article-body-event .about-event .event-address{
  margin-top: 19px;
}

#content .article-body-event .about-event .event-address span{
  margin-top: 4.4px;
  line-height: 14px;
  letter-spacing: 0.5px;
}

#content .article-body-event .event-link{
  letter-spacing: 0.48px;
}

#content .article-body-event .event-link a{
  text-decoration: underline;
}

#content .article-body-event .event-body .event-lead p{
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 21px;
}

#content .article-body-event .event-body .event-content p{
  font-size: 15px;
  font-family: Arial;
  line-height: 22px;
}
