/*** boxes sizes definition **/
.action-home-index .box-1 {
  margin: 0px 0px 0px 210px;
  width: 490px;
}

.action-home-index .box-3 {
  width: 230px;
}

/*** end of boxes sizes definition **/

/*** Box's patterns ***/

.action-home-index .block-outer{
   margin-bottom: 45px;
}

/* Read More pattern */

.action-home-index #content .box .block-outer .read-more{
  border-bottom: none;
  background: #eee;
  font: normal normal normal 10px 'open_sansregular', arial, helvetica, sans-serif;
  text-transform: uppercase;
  text-align: right;
}

.action-home-index #content .box .block-outer .read-more a{
  padding: 8px;
  line-height: 20px;
  color: #000000;
  display: block;
}

.action-home-index #content .box .block-outer .read-more a:hover{
  background: #dedede;
}

.action-home-index #content .box .block-outer .read-more a::after{
  margin-left: 7px;
  border-radius: 4px;
  padding: 0px 5px 0px 8px;
  line-height: 20px;
  color: #FFFFFF;
  font: 14px 'open_sansbold', arial, helvetica, sans-serif;
  text-align: center;
  content: url('../images/right-arrow.png');
}


/*** end of box patterns ***/

/******************** Box-1 ********************/

/*** Software catalog search block **/

.action-home-index #content #catalogo-software-search{
  width: 100%;
  background-color: #1A397D;
  border-radius: 4px;
}

.action-home-index #content #catalogo-software-search h1{
  margin: 0px 15px 10px 15px;
  border-bottom: none;
  padding: 10px 0px 0px 0px;
  line-height: 1.3em;
  color: #FFFFFF;
  font: normal normal normal 22px 'open_sansregular', arial;
  text-align: left;
}

.action-home-index #content  #catalogo-software-search #search-Gadget{
  margin: 0px 15px 9px 15px;
  border: none;
  border-radius: 4px;
  padding: 7px;
  width: 90%;
}

.action-home-index #content  #catalogo-software-search .searchButton-catalog{
  cursor: pointer;
  margin: 0px 0px 15px 15px;
  padding: 6px 25px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: #1A397D;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.action-home-index #content  #catalogo-software-search #search-catalog-footer{
  border-top: 1px solid;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #192758;
  color: #FFFFFF;
}

.action-home-index #content  #catalogo-software-search #search-catalog-footer p{
  margin: 0px;
  font-size: 11px;
  text-align: right;
  text-transform: uppercase;
}

.action-home-index #content  #catalogo-software-search #search-catalog-footer a{
  padding: 7px 0px 12px 0px;
  color: #FFF;
  display: block;
}

.action-home-index #content #catalogo-software-search #search-catalog-footer a:hover{
  background-color: #101A38;
}

.action-home-index #content  #catalogo-software-search #bt_catalog-search::after{
  margin: 0px 15px 0 5px;
  border-radius: 4px;
  padding: 0px 4px 0 7px;
  top: 2px;
  line-height: 20px;
  background: #eee;
  color: #172857;
  font-size: 15px;
  text-align: center;
  position: relative;
  content: url('../images/right-arrow-black.png');
}

/*** Softwares block **/
.action-home-index #content .softwares-block{
  margin: 0px;
  overflow: auto;
}

.action-home-index #content .softwares-block .block-title{
  margin: 0px 0px 25px 0px;
  border-top: 4px solid #2c66ce;
  background: #eee;
  color: #2c66ce;
  font-weight: 300;
}

.action-home-index #content .softwares-block .block-footer-content a{
  display:none;
}

.action-home-index #content .software-block{
  width: 145px;
  height: 218px;
  margin: 0px 18px 14px 0px;
}

.action-home-index #content .software-block .software-block-logo{
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 140px;
  height: 150px;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  display: table-cell;
}

.action-home-index #content .software-block .software-block-logo img{
  height: auto;
  max-width: 90px;
}

.action-home-index #content .software-block .software-block-info{
  height: 85px;
  overflow: hidden;
}

.action-home-index #content .software-block .software-block-title{
  height: 50px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
}

.action-home-index #content .software-block .software-block-title h3{
  margin: 10px 0px 10px 0px;
  color: #2C66CE;
  font: normal normal 300 14px 'open_sansregular', arial, helvetica, sans-serif;
}

.action-home-index #content .software-block-description{
  display: none;
}

.action-home-index #content .software-block .software-block-finality,
.action-home-index #content .software-block .software-block-content{
  text-align: right;
}

.action-home-index #content .software-block .software-block-finality{
  border: solid 1px #D7D7D7;
  border-radius: 8px;
  width:142px;
  height: 216px;
  left: 0px;
  background-color: #f4f4f4;
  text-transform: uppercase;
}

.action-home-index #content .software-block .software-block-finality::after{
  margin: 0px 7px 0px 3px;
  border-radius: 4px;
  padding: 0 4px 0 7px;
  line-height: 20px;
  background: #2c65cd;
  color: #FFF;
  font-size: 15px;
  text-align: center;
  position: relative;
  content: url('../images/right-arrow.png');
}

.action-home-index #content .software-block .software-block-finality p{
  margin: 0px 0px 7px 0px;
  border-bottom: solid 1px #D7D7D7;
  padding: 12px 12px 0px 12px;
  height: 170px;
  color: #172738;
  font-size: 12px;
  text-align: left;
  text-transform: none;
  overflow: hidden;
}

/*** News block - display content block **/

.action-home-index #content .display-content-block .block-title{
  margin: 0px;
  border-top: 4px solid #643C67;
  background: #eee;
  color: #643C67;
  font-weight: 300;
}

.action-home-index #content .display-content-block li{
  border-top: 1px solid #eee;
  padding: 15px 0px 0px 0px;
  min-height: 150px;
}

.action-home-index #content .display-content-block li:first-child{
  border-top: 0px solid #eee;
}

.action-home-index #content .display-content-block .published-at{
  padding: 0px 0px 15px 0px;
  color: #643C67;
}

.action-home-index #content .display-content-block .image{
  padding-right: 25px;
  padding: 0px 25px 0px 0px;
  border: 0px solid #c0c1c1;
  width: 150px;
  display: table-cell;
}

.action-home-index #content .display-content-block .image a{
  border-radius: 8px;
  height: 90px;
  overflow: hidden;
  display: block;
}

.action-home-index #content .display-content-block .image img{
  border: 0px solid #c0c1c1;
  max-width: 150px;
}

.action-home-index #content .display-content-block .title{
  margin: 2px 0px 4px 0px;
  padding-right: 0px;
  max-height: 40px;
  text-align: justify;
  overflow: hidden;
}

.action-home-index #content .display-content-block .title a{
  padding: 0px;
  color: #172738;
  font: normal normal bold 16px/1.3em arial, helvetica, sans-serif;
}

.action-home-index #content .display-content-block .lead{
  max-height: 47px;
  overflow: hidden;
}

.action-home-index #content .display-content-block .lead a{
  color: #000000;
  font: 15px/1.3em arial;
}

.action-home-index #content .display-content-block .lead a:visited,
.action-home-index #content .lead a:visited,
.action-home-index #content .lead dl.portlet a:visited{
  color: #172738;
}

.action-home-index #content .display-content-block .notice-info{
  display: table-cell;
  vertical-align: top;
}

.action-home-index #content .display-content-block .read_more{
  display: none;
}

.action-home-index #content .display-content-block .read-more{
  border-top: 1px solid #643C67;
}

.action-home-index #content .display-content-block .read-more a::after{
  background: #643C67;
}

/******************** End Box-1 ********************/

/******************** Box-3 ********************/

/*** What Is block - Article block **/

.template-default .action-home-index #content .box-3 .article-block .block-title{
  border-top: 4px solid #08A649;
  border-bottom: none;
  padding: 6px 8px 22px 10px;
  background: #eee;
  color: #08A649;
  font: normal normal 300 18px/1.3em 'open_sansregular', arial, helvetica, sans-serif;
  text-align: left;
  text-transform: none;
}

.template-default .action-home-index #content .box-3 .article-block .read-more{
  margin-top: 30px;
  border-top: 1px solid #08A649;
}

.template-default .action-home-index #content .box-3 .article-block .read-more a::after{
  background: #08A649;
}

.template-default .action-home-index #content .box-3 .article-block .short-post{
  padding-top: 23px;
}

.template-default .action-home-index #content .box-3 .article-block p{
  margin: 0px 0px 14px 0px;
  padding: 0px;
  font: 15px/18px arial, helvetica, sans-serif;
  text-align: left;
  text-transform: none;
}

/******* See As Well Block - Highlights block *******/

.action-home-index #content .highlights-block .block-title{
  display: none;
}

.action-home-index #content .highlights-border{
  border: 1px solid #c0c1c1;
  border-radius: 8px;
  width: auto;
  height: 248px;
  max-height: 250px;
  background-color: #e8e9ec;
  background-image: linear-gradient(
    0deg,
    transparent 45%,
    #fff 55%);
  background-size: 100% 100%;
}

.action-home-index #content .highlights-container{
  border-radius: 8px;
  border-width: 0px 0px 1px 0px;
  border-bottom: none;
  padding: 0;
  width: 100% !important;
  max-height: 230px;
  background: transparent;
  position: relative;
  top: 0;
}

.action-home-index #content .highlights-image-link{
  padding: 18px 0px 0px 0px;
  border-radius: 0px 0px 8px 8px;
  width: 220px;
  max-height: 217px;
  background-color: #fff;
}

.action-home-index #content .highlights-image-link img{
  max-height: 100px;
}

.action-home-index #content .highlights-label{
  border-top: 4px solid #3b61a7;
  padding: 23px 20px 46px 20px;
  max-height: 60px;
  width: 190px;
  position: relative;
  bottom: -18px;
  background: #e8e9ec;
  color: #172638;
  text-align: center;
  font: normal normal normal 16px/1.5em 'open_sansbold', arial, helvetica, sans-serif;
  vertical-align: middle;
}

.action-home-index #content .highlights-block-pager{
  float: none;
  display: block;
  text-align: center;
}

.action-home-index #content .highlights-block-pager a{
  margin: 0 4px;
  border-color: transparent;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background: #c0c1c1 center center no-repeat;
  color: transparent;
  text-indent: -5000px;
  z-index: 1000;
  overflow: hidden;
  display: inline-block;
}

.action-home-index #content .highlights-block-pager a.activeSlide{
  border-color: transparent;
  background: #3e67b1;
  color: transparent;
}

/*** software highlights block ***/

.action-home-index #content a.toggle-popover,
.action-home-index #content a.toggle-popover:hover{
  margin: 0 0 0 55px;
  color: #3867b7;
  cursor: pointer;
}

.action-home-index #content span.popover-span{
  padding: 1px 6px;
  border-radius: 50%;
  background-color: #3867b7;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

/*** mais software block **/
.action-home-index #content #mais-software-block{
  margin: 11px 0px;
  border: 1px solid #c0c1c1;
  border-radius: 8px;
  padding: 5px 0px;
  width: auto;
  background-color: #eeeff1;
  font: 14px arial;
}

.action-home-index #content #mais-software-block #sbp-information-softwares h2{
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 17px 15px;
  border-bottom: 1px solid #c0c1c1;
  color: #454545;
  font: normal normal normal 16px/21px 'open_sansbold', arial, helvetica, sans-serif;
  text-align: left;
  text-transform: uppercase;
}

.action-home-index #content #mais-software-block #list-categories{
  margin: 14px 14px 14px 14px;
}

.action-home-index #content #mais-software-block #list-categories p{
  margin: 0 0 16px 0;
  color: #464A55;
}

.action-home-index #content #mais-software-block #list-categories ul li{
  margin: 18px 5px 5px 5px;
}

.action-home-index #content #mais-software-block #list-categories li a{
  color: #335277;
  font-weight: bold;
}

.action-home-index #content #mais-software-block #list-categories a:hover{
  text-decoration: none;
}

.action-home-index #content #mais-software-block #footer-mais-software{
  margin: 0px;
  border-top: 1px solid #c0c1c1;
  padding: 10px 10px 0px 3px;
  font-size: 11px;
  text-align: right;
  text-transform: uppercase;
}

.action-home-index #content #mais-software-block #footer-mais-software a{
  color: #464A55;
}

/******************** End Box-3 ********************/
